ENV_PATH=


55 8-23/3 * * * bash MY_PATH/git_pull.sh >> MY_PATH/log/git_pull.log 2>&1
57 3 * * * bash MY_PATH/rm_log.sh >/dev/null 2>&1
48 4 * * * bash MY_PATH/export_sharecodes.sh
33 13 * * * bash MY_PATH/jd.sh hangup

# 运行lxk0301大佬的js脚本，仅列出长期任务作初始化用，AutoAddCron=true时，将自动添加短期任务。
# 非RikudouPatrickstar/jd_scripts仓库中的脚本不能以“jd_”、“jr_”、“jx_”开头。
# 请在最后保留一个空行。

5 0 * * * bash MY_PATH/jd.sh jd_bean_change
33 4 * * * bash MY_PATH/jd.sh jd_bean_home
3 6,18 * * * bash MY_PATH/jd.sh jd_bean_sign
1 7,12,19 * * * bash MY_PATH/jd.sh jd_beauty
0,30 0 * * * bash MY_PATH/jd.sh jd_blueCoin
7 8,12,18 * * * bash MY_PATH/jd.sh jd_bookshop
0 0 * * * bash MY_PATH/jd.sh jd_car
0 0 * * * bash MY_PATH/jd.sh jd_car_exchange
27 */4 * * * bash MY_PATH/jd.sh jd_cash
0 0 * * * bash MY_PATH/jd.sh jd_club_lottery
10 7 * * * bash MY_PATH/jd.sh jd_crazy_joy
18 * * * * bash MY_PATH/jd.sh jd_daily_egg
# 20 9 * * 6 bash MY_PATH/jd.sh jd_delCoupon
20 * * * * bash MY_PATH/jd.sh jd_dreamFactory
# */20 * * * * bash MY_PATH/jd.sh jd_family
5 6-18/6 * * * bash MY_PATH/jd.sh jd_fruit
47 7 * * * bash MY_PATH/jd.sh jd_get_share_code
36 * * * * bash MY_PATH/jd.sh jd_jdfactory
# 10 11 * * * bash MY_PATH/jd.sh jd_jdzz
15 */2 * * * bash MY_PATH/jd.sh jd_joy
15 */1 * * * bash MY_PATH/jd.sh jd_joy_feedPets
10 9-20/2 * * * bash MY_PATH/jd.sh jd_joy_run
0 0-10/2 * * * bash MY_PATH/jd.sh jd_joy_steal
# 0 9,12,18 * * * bash MY_PATH/jd.sh jd_jxnc
23 1 * * * bash MY_PATH/jd.sh jd_kd
11 1 * * * bash MY_PATH/jd.sh jd_lotteryMachine
0 */2 * * * bash MY_PATH/jd.sh jd_moneyTree
10 7 * * * bash MY_PATH/jd.sh jd_ms
20 0,20 * * * bash MY_PATH/jd.sh jd_necklace
5 6-18/6 * * * bash MY_PATH/jd.sh jd_pet
12 * * * * bash MY_PATH/jd.sh jd_pigPet
0 7-22/1 * * * bash MY_PATH/jd.sh jd_plantBean
1 0,23 * * * bash MY_PATH/jd.sh jd_price
11 9 * * * bash MY_PATH/jd.sh jd_rankingList
1 1 * * * bash MY_PATH/jd.sh jd_redPacket
27 8 * * * bash MY_PATH/jd.sh jd_sgmh
10 0 * * * bash MY_PATH/jd.sh jd_shop
16 6,23 * * * bash MY_PATH/jd.sh jd_small_home
8 */3 * * * bash MY_PATH/jd.sh jd_speed
1 1,6 * * * bash MY_PATH/jd.sh jd_speed_sign
11 1-23/5 * * * bash MY_PATH/jd.sh jd_superMarket
36 8,18 * * * bash MY_PATH/jd.sh jd_syj
55 23 * * * bash MY_PATH/jd.sh jd_unsubscribe
39 7 * * * bash MY_PATH/jd.sh jx_sign

# 以下为自动添加的任务
