# 更新lxk0301大佬的js脚本和EvineDeng的shell脚本
55 5-23 * * * bash {JD_DIR}/git_pull.sh >> {JD_DIR}/log/git_pull.log 2>&1

# 删除指定天数以前旧日志，不记录日志
58 13 * * 6 {JD_DIR}/jd.sh rmlog >dev/null 2>&1

# 运行lxk0301大佬的js脚本，仅作初始化用，AutoAddCron=true时，将自动添加短期任务，错误记录在crond日志中
0 9 * * * {JD_DIR}/jd_bean_change.sh
28 4 * * * {JD_DIR}/jd_bean_home.sh
3 0,8,14 * * * {JD_DIR}/jd_bean_sign.sh
0 0 * * * {JD_DIR}/jd_blueCoin.sh
23 2 * * * {JD_DIR}/jd_car.sh
2 0 * * * {JD_DIR}/jd_club_lottery.sh
#36 9 * * * {JD_DIR}/jd_ds.sh  #限学生认证用户，如果你是，请自己解除注释
54 2-23/3 * * * {JD_DIR}/jd_daily_egg.sh
20 * * * * {JD_DIR}/jd_dreamFactory.sh
30 7,12,18 * * * {JD_DIR}/jd_fruit.sh
36 * * * * {JD_DIR}/jd_jdfactory.sh
10 11 * * * {JD_DIR}/jd_jdzz.sh
1 0,8,9,13,18,23 * * * {JD_DIR}/jd_joy.sh
*/20 0-22 * * * {JD_DIR}/jd_joy_feedPets.sh
0 0,8,12,16 * * * {JD_DIR}/jd_joy_reward.sh
18 10,13 * * * {JD_DIR}/jd_joy_run.sh
0 0,6 * * * {JD_DIR}/jd_joy_steal.sh
28 7 * * * {JD_DIR}/jd_kd.sh
10-20/5 13 * * * {JD_DIR}/jd_live.sh
15 1 * * * {JD_DIR}/jd_lotteryMachine.sh
40 */4 * * * {JD_DIR}/jd_moneyTree.sh
20 0,20 * * * {JD_DIR}/jd_necklace.sh
10 7,12,18 * * * {JD_DIR}/jd_pet.sh
12 13 * * * {JD_DIR}/jd_pigPet.sh
35 7-22 * * * {JD_DIR}/jd_plantBean.sh
11 0 * * * {JD_DIR}/jd_rankingList.sh
1 1 * * * {JD_DIR}/jd_redPacket.sh
0 0 * * * {JD_DIR}/jd_shop.sh
16 0 * * * {JD_DIR}/jd_small_home.sh
35 */3 * * * {JD_DIR}/jd_speed.sh
10 1-23/5 * * * {JD_DIR}/jd_superMarket.sh
25 9 * * * {JD_DIR}/jd_syj.sh
17 11,14 * * * {JD_DIR}/jd_watch.sh
45 23 * * * {JD_DIR}/jd_unsubscribe.sh
